const express = require("express");
const app = express();

const v1 = require("cloudevents-sdk/v1");
const structured1 = new v1.StructuredHTTPReceiver();

var funk = require("./funk");

app.use((req, res, next) => {
  let data="";

  req.setEncoding("utf8");
  req.on("data", function(chunk) {
     data += chunk;
  });

  req.on("end", function() {
      req.body = data;
      next();
  });
});

app.post("/", function (req, res) {
  console.log(req.headers);
  console.log(req.body);

  try {
    let myevent = structured1.parse(req.body, req.headers);

    // Call the funk receiver
    funk.onEvent(myevent.getData(), myevent);

    res.status(200)
          .json(myevent.format());

  } catch (err) {
    console.error(err);
    res.status(415)
          .header("Content-Type", "application/json")
          .send(JSON.stringify(err));
  }
});

const port = process.env.PORT || 8080;
app.listen(port, () => {
  console.log('CloudEvent Node.js listening on port', port);
});