module.exports =
{
    /**
     * Handles the CloudEvent.
     * @param data the payload: {{.InType.Path}}.{{.InType.UpCaseTypeName}}
     * @param event the full CloudEvent
     */
    onEvent: function (data, event) {
        console.log("onEvent() accepted {{.InType.UpCaseTypeName}} event:", data);
        console.log(JSON.stringify(event.format(), null, 2));

        // TODO(you): Handle the event.
    }
};