{
    "name": "event-nodejs",
    "version": "1.0.0",
    "description": "Simple CloudEvent function in Node.js",
    "main": "index.js",
    "scripts": {
      "start": "node index.js"
    },
    "author": "",
    "license": "Apache-2.0",
    "dependencies": {
      "cloudevents-sdk": "github:cloudevents/sdk-javascript",
      "express": "^4.17.1"
    }
  }